.main-footer {
   color: blanchedalmond;
   background-color: cadetblue;
   position: relative;
   padding: 5px;
   bottom: 0;
   width: 100%;
   height: max-content;
}

.contents {
   height: 10%;
}
.social-media-icons {
   float: left;
}
.privacy-policy {
   text-align: center;
}
.footer-links {
   float: left;
   text-decoration: none;
   padding: 5px;
   margin-top: 5px;
}
.privacy-policy-link {
   color: #fff;
}
.privacy-policy-link:hover {
   color: rebeccapurple;
   text-decoration: none;
}
.terms-condition-link {
   color: #fff;
}
.terms-condition-link:hover {
   color: rebeccapurple;
   text-decoration: none;
}
