.navbar {
   position: relative;
   top: 0;
   width: 100%;
}
.navbar-logo {
   width: 4rem;
   height: 4rem;
   float: left;
}
.navbar-brand-name {
   text-align: center;
   justify-content: center;
   margin-top: 5%;
}
